<%= @teacher.name %>'s Questions:

<table>
<tr>
  <th>Question</th>
  <th>Choice A</th>
  <th>Choice B</th>
  <th>Choice C</th>
  <th>Choice D</th>
  <th>Actual Answer</th>
</tr>
<% @questions.each do |question| %>
  <tr>
    <td><a href="teacher/<%= @teacher.slug %>/question/<%= question.id %>"><%= question.question %></a></td>
    <td><%= question.ans_1 %></td>
    <td><%= question.ans_2 %></td>
    <td><%= question.ans_3 %></td>
    <td><%= question.ans_4 %></td>
    <td><%= question.correc_ans %></td>
  </tr>
<% end %>

<a href='question/new'><button>Create New Question</button></a>
