<h1><%= @teacher.name %>'s <%= @course.name %> Class</h1>

<table>
  <tr>
    <th>Students</th>
    <% @course.quizzes.each do |quiz| %>
      <th id="<%= quiz.id %>" > <%= quiz.name %> </th>
    <% end %>
  </tr>
  <% @course.students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <% student.student_quizzes.each do |squiz| %>
        <% if squiz.course_quiz.course == @course %>
        <td headers="<%= squiz.quiz.id%>"><%= squiz.score %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  <tfoot>
    <tr>
</table>

<a href="/teacher/<%= @teacher.slug %>/course/<%= @course.id %>/edit"><button>Add/Remove Students</button></a>
<a href="/teacher/<%= @teacher.slug %>/course/<%= @course.id %>/quiz"><button>Assign Quizzes</button></a>
