<h1>Welcome, <%= @teacher.name %>!</h1>

<h3>Your Quizzes:</h3>
<ol>
  <% @teacher.quizzes.each do |quiz| %>
    <li><a href="/teacher/<%= @teacher.slug %>/quiz/<%= quiz.id %>"><%= quiz.name %></a></li>
  <% end %>
</ol>
<form action="/teacher/<%= @teacher.slug %>/quiz" method="post">
  <p> New Quiz Name: <input type="text" name="name" id="quiz"/> <input type="submit" id="create" value="Create"</p>
</form>

<h3>Your Classes:</h3>
<ol>
  <% @teacher.courses.each do |course| %>
    <li><a href="/teacher/<%= @teacher.slug %>/course/<%= course.id %>"><%= course.name %></a></li>
  <% end %>
</ol>
<form action="/teacher/<%= @teacher.slug %>/course" method="post">
  <p> New Course Name: <input type="text" name="course" id="course"/> <input type="submit" id="create" value="Create"</p>
</form>

<a href="/student"><button>All Students</button></a>
<form action="/teacher/logout" method = "post">
  <input type="submit" id="logout" value="Log Out"/>
</form>
