<h1><%= @quiz.name %></h1>
<h4>By: <%= @teacher.name %> </h4>

<ol>
<% @quiz.questions.each do |question| %>
  <li><a href="/teacher/<%= teacher.slug %>/question/<%= quiz.id %>"><%= question.question %></a></li>
<% end %>
</ol>

<a href="/teacher/<%= @teacher.slug %>/quiz/<%= @quiz.id %>/edit"><button>Add/Remove Questions</button></a>
<form action="/teacher/<%= @teacher.slug %>/quiz/<%= @quiz.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete"/>
  <input type="submit" id="Delete" value="Delete This Quiz"/>
</form>
