<h1><%= @course.teacher.name %>'s <%= @course.name %> class</h1>
<table>
  <tr>
    <th> Quiz </th>
    <th> Score </th>
  </tr>
  <% @quizzes.each do |stquiz| %>
    <tr>
      <td> <a href="/student/<%= @student.slug %>/quiz/<%= stquiz.id %>"><%= stquiz.quiz.name %> </td>
      <td> <%= stquiz.score %> </td>
    </tr>
  <% end %>
  </table>
