<h1> <%= @stquiz.quiz.name %> </h1>
<br>
<form action="/student/<%= @student.slug %>/quiz/<%= @stquiz.id %>" method="POST">
  <ol>
  <% @stquiz.quiz.questions.each do |question| %>
    <li><%= question.question %> </li>
      <ol>
        <input type="hidden" id="hidden" name="question_id[]" value=<%= question.id %> />
        <li><input type="radio" id = "<%=question.id%> ans_1" name="student_answers[<%= question.id %>]" value="ans_1"><%= question.ans_1 %> </li>
        <li><input type="radio" id = "<%=question.id%> ans_2" name="student_answers[<%= question.id %>]" value="ans_2"><%= question.ans_2 %> </li>
        <li><input type="radio" id = "<%=question.id%> ans_3" name="student_answers[<%= question.id %>]" value="ans_3"><%= question.ans_3 %> </li>
        <li><input type="radio" id = "<%=question.id%> ans_4" name="student_answers[<%= question.id %>]" value="ans_4"><%= question.ans_4 %> </li>
      </ol>
      <br>
  <% end %>
  </ol>
  <input type="submit" id="Submit" Value="Submit for Grading"/>
</form>
